<h2>Detail Produk</h2>
<div class="w3-half">
	<div class="w3-light-gray">
		<img src="test.jpg" style="width:100%">
	</div>
</div>
<div class="w3-half">
	<div class="w3-light-gray">
		<div class="w3-container">
			<h5 class="w3-left w3-clear">Nama</h5>
			<h5 class="w3-right w3-clear">Nala</h5>
		</div>
		<div class="w3-container">
			<h5 class="w3-left w3-clear">Umur</h5>
			<h5 class="w3-right w3-clear">7 tahun</h5>
		</div>
		<div class="w3-container">
			<h5 class="w3-left w3-clear">Warna</h5>
			<h5 class="w3-right w3-clear">Belang</h5>
		</div>
		<div class="w3-container">
			<h5 class="w3-left w3-clear">Jenis</h5>
			<h5 class="w3-right w3-clear">Siamese & tabby mix</h5>
		</div>
		<div class="w3-container">
			<h5 class="w3-left w3-clear">Jenis</h5>
			<h5 class="w3-right w3-clear">Siamese & tabby mix</h5>
		</div>
	</div>
</div>
