<div class="w3-col s12">
		<h2>Daftar Pesanan</h2>
		<ul class="w3-ul">
			<li class='w3-pale-green w3-padding w3-margin-bottom w3-border'>
				<p>
					<h3>Test pesanan 1</h3>
					<span class="w3-col l3 s12"><b>Keterangan</b></span>
					<span class="w3-col l3 s12">Belum ada keterangan</span>
					<span class="w3-col l3 s12"><b>Keterangan</b></span>
					<span class="w3-col l3 s12">Belum ada keterangan</span>
					
					
					<span class="w3-col l3 s12"><b>Keterangan</b></span>
					<span class="w3-col l3 s12">Belum ada keterangan</span>
					<span class="w3-col l3 s12"><b>Keterangan</b></span>
					<span class="w3-col l3 s12">Belum ada keterangan</span>
					
					
					<span class="w3-col l3 s12"><b>Keterangan</b></span>
					<span class="w3-col l3 s12">Belum ada keterangan</span>
					<span class="w3-col l3 s12"><b>Keterangan</b></span>
					<span class="w3-col l3 s12">Belum ada keterangan</span>
					
					
				</p>
				<p>
					<button class="w3-button w3-green">Register</button>
					<button class="w3-button w3-red">Reset</button>
					<button class="w3-button w3-blue">Batal</button>
				</p>
			</li>
			<li class='w3-pale-blue w3-margin-bottom w3-border'>
				<p>
					<h3>Test pesanan 1</h3>
					Test kjsdfjsklj kjj j jkljlkjjjksdf fjldsjfj efkejsjkflle fefel
				</p>
				<p>
					<button class="w3-button w3-green">Register</button>
					<button class="w3-button w3-red">Reset</button>
					<button class="w3-button w3-blue">Batal</button>
				</p>
			</li>
			<li class='w3-pale-red w3-margin-bottom w3-border'>
				<p>
					<h3>Test pesanan 1</h3>
					Test kjsdfjsklj kjj j jkljlkjjjksdf fjldsjfj efkejsjkflle fefel
				</p>
				<p>
					<button class="w3-button w3-green">Register</button>
					<button class="w3-button w3-red">Reset</button>
					<button class="w3-button w3-blue">Batal</button>
				</p>
			</li>
		</ul>
	</div>
