<div class="w3-responsive">
	<h2 class="w3-center">Tabel</h2>
	<table class="w3-table w3-border w3-bordered">
		<tr class="w3-light-gray">
			<th style="width:13px;">No</th>
			<th>Nama</th>
			<th>Kelas</th>
			<th>Nohp</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Mandan</td>
			<td>XIIA4</td>
			<td>081994088434</td>
		</tr>
	</table>
</div>
